*{
  margin: 0;
}
body{
  padding: 40px;
  background-image: url(images/bg4.jpg);cover;
  }
h1{
  font-weight: normal;
  color:white;
  font-family:  'Source Sans Pro', sans-serif;
  font-size: 2.0rem;
  margin: 2px 0;
  text-align: center;
}
 h2,h3, h4, h5, h6, p{
   font-family:  'Source Sans Pro', sans-serif;
   color: white;
   font-size:1.1rem;
   font-weight: normal;
   margin: 3px 0;
 }
 /* 라이트 박스 컨테이너 */
 #lightbox.active{
   position: absolute;overflow: hidden;
   background:  #2d5986;
   width:810px;
   height:650px;
   left: 45%;
   margin-left: -300px;
   top: 50%;
   margin-top:  -200px;
   box-sizing:  border-box;
   padding: 56px;
   z-index: 99; display: block;

 }
 #lightbox{
   display: none;
 }
 #lightbox h1, #lightbox p{
   color: white;
   text-align: center;
   margin-bottom: 5px;


 }
 /* 이미지 박스 */
 figure{
   width: 800px; height: 500px;
   position: relative;
   margin:6px auto;
   overflow: hidden;
 }
 figure img{
   display: none;
   position: absolute;
 }
 figure img.active{display: block;
 }
  /* 창 닫기 버튼 */
  .btn-close{
    position: absolute;
    top: 1px; right:-8px;
    padding: 17px;
    color:white; font-size: large;
  }
  .btn-close:hover{
    background-color:#666;
  }
  #block{
    position: fixed;
    width: 100%; height: 100%;
    top: 0; bottom: 0; left: 0; right: 0;
    background: #8cb1d9;
    opacity: 0.5;
    z-index: 9;
    display: none;
  }
  #block.active{display: block;}
  .indicator{
    text-align: center;

  }
  .indicator button{
    background: #666; color: white;
    font-size: 13px;
    border: none; padding: 5px 8px;
   }
   .indicator button:focus{
     background: #38f;
   }
